<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.glassesgang">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Notification.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <activity
            android:name=".ResultsActivity"
            android:parentActivityName=".BorrowerHomeActivity" />
        <activity
            android:name=".BorrowerBookProfileActivity"
            android:parentActivityName=".BorrowerHomeActivity" />
        <activity
            android:name=".OwnerBookProfileActivity"
            android:parentActivityName=".OwnerHomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".BorrowerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".OwnerHomeActivity"
            android:exported="true" />
        <activity android:name=".AddBookActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EditBookActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".CameraActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />  <!--So keyboard doesn't push up the save button-->
        <activity android:name=".ScannerActivity" />
    </application>

</manifest>